html {
    background-color: hsl(47, 88%, 63%);
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    font-family: "Figtree", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;

}

.card {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    border: 1px solid black;
    padding: 24px;
    max-width: 300px;
    box-shadow: 6px 6px;
}

.preview {
    border-radius: 10px;
    max-width: fit-content;
    max-height: fit-content;
    overflow-clip-margin: content-box;
    overflow: clip;
    margin-bottom: 24px;
}

.learning {
    max-width: fit-content;

}

.learning-text {
    background-color: hsl(47, 88%, 63%);
    padding: 4px 12px 4px 12px;
    font-weight: 800;
    border-radius: 5px;
    font-size: 12px;
    margin-bottom: 12px;
}

.published {
    font-weight: 500;
    font-size: 12px;
    margin-bottom: 12px;
}

.title {
    font-weight: 800;
    font-size: 20px;
    margin-bottom: 12px;

}

.paragraph {
    font-size: 14px;
    font-weight: 500 ;
    color: hsl(0, 0%, 42%);
    margin-bottom: 12px;
}

.auth {
    width: 32px;
    height: 32px;
}